{% load static %}
<!DOCTYPE html>
<html>
	{% include "landing/includes/header.html"%}
 	<div class="special featured">
		  <div class="container">
				   <div class="ab-w3l-spa">
				        <h3 class="tittle">Bienvenidos a santa eugenia</h3>
						<p>En el Hotel Santa Eugenia iniciamos nuestras operaciones en el año 1993, empezamos desde abajo, después de mucho esfuerzo y continuo trabajo obtenemos las felicitaciones de nuestros clientes quienes se van satisfechos y prometiendo volver.
							</p>
				   </div>
				<!-- services -->
							<div class="w3_agileits_services_grids">
								<div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
									<div class="w3_agileits_services_grid_agile">
										<div class="w3_agileits_services_grid_1">
											<img src="{% static 'images/6.jpg' %}" alt="service-img">
										</div>
										<h3>Habitación Simple</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
									</div>
								</div>
								<div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
									<div class="w3_agileits_services_grid_agile">
										<div class="w3_agileits_services_grid_1">
											<img src="{% static 'images/6.jpg' %}" alt="service-img">
										</div>
										<h3>Habitación Matrimonial</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
									</div>
								</div>
								<div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
									<div class="w3_agileits_services_grid_agile">
										<div class="w3_agileits_services_grid_1">
											<img src="{% static 'images/6.jpg' %}" alt="service-img">
										</div>
										<h3>Habitación Doble</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
									</div>
								</div>
								<div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
									<div class="w3_agileits_services_grid_agile">
										<div class="w3_agileits_services_grid_1">
											<img src="{% static 'images/6.jpg' %}" alt="service-img">
										</div>
										<h3>Habitación Familiar</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
				<!-- //services -->
				  
				           <div class="agileinf-button">    <a class="read" href="single.html">
											Más Información
							   </a>
							   </div>

		   </div>
    </div>
	
	
<!-- //about-bottom -->
	<!-- about-bottom -->
	<div class="about-bottom" id="ab">
	<div class="col-md-6 w3l_about_bottom_right two">
			<h3 class="tittle why">Hacer una reservación</h3>
			<div class="book-form">

			   <form action="#" method="post">
					<div class="col-md-6 form-date-w3-agileits">
						<label><i class="fa fa-user" aria-hidden="true"></i> Nombre :</label>
						<input type="text" name="name" placeholder="Your name" required="">
					</div>
					<div class="col-md-6 form-date-w3-agileits second-agile">
						<label><i class="fa fa-envelope" aria-hidden="true"></i> Email :</label>
						<input type="email" name="email" placeholder="Your email" required="">
					</div>
					 <div class="col-md-6 form-date-w3-agileits">
									<label><i class="fa fa-calendar" aria-hidden="true"></i> Fecha de llegada :</label>
									<input  id="datepicker" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
								
								</div>
					<div class="col-md-6 form-time-w3layouts second-agile">
							<label><i class="fa fa-clock-o" aria-hidden="true"></i> Hora :</label>
							<input type="time">
					</div>
					<div class="col-md-6 form-date-w3-agileits">
						        <label><i class="fa fa-calendar" aria-hidden="true"></i> Fecha de salida :</label>
									<input  id="datepicker1" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
									
								</div>
					<div class="col-md-6 form-time-w3layouts second-agile">
							<label><i class="fa fa-clock-o" aria-hidden="true"></i> Hora :</label>
							<input type="time">
					</div>
					<div class="col-md-6 form-left-agileits-w3layouts bottom-w3ls">
							<label><i class="fa fa-home" aria-hidden="true"></i> Escoger Habitación :</label>
							<select class="form-control">
								<option></option>
								<option>Habitación Económico</option>
								<option>Habitación Simple</option>
								<option>Habitación Matrimonial</option>
								<option>Habitación Doble</option>
								<option>Habitación Triple</option>
								<option>Habitación Familiar</option>
							</select>
					</div>
					
					<div class="clearfix"> </div>
					<div class="make wow shake" data-wow-duration="1s" data-wow-delay=".5s">
						  <input type="submit" value="Continuar Reserva">
					</div>
			</form>
								</div>

		</div>
		<div class="col-md-6 w3l_about_bottom_left">
			
<img src="{% static 'images/33.jpg' %}" alt="" class="img-responsive" />
			<div class="w3l_about_bottom_left_video book-text">
				<h4>Reservar Ahora</h4>
			</div>
		</div>
		
		<div class="clearfix"> </div>
	</div>
<!-- //about -->
	<!-- /plans -->
      <div class="plans-section">
				 <div class="container">
				 <h3 class="w3l-inner-h-title">Tarifas</h3>
						<div class="priceing-table-main">
				 <div class="col-md-3 price-grid">
					<div class="price-block agile">
						<div class="price-gd-top pric-clr1">
							<h4>Habitación Simple</h4>
							<h3><span>S/</span>30</h3>
							<h5>1 Noche</h5>
						</div>
						<div class="price-gd-bottom">
							   <div class="price-list">
								
									
									 <h6 class="bed"><i class="fa fa-bed" aria-hidden="true"></i></h6>
							</div>
							<div class="price-selet pric-sclr1">		    			   
<a href="#ab" class="scroll" >Reservar</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 price-grid ">
					<div class="price-block agile">
						<div class="price-gd-top pric-clr2">
							<h4>Habitación Matrimonial</h4>
							<h3><span>S/</span>50</h3>
							<h5>1 Noche</h5>
						</div>
						<div class="price-gd-bottom">
							<div class="price-list">
								
									
								<h6 class="bed two"><i class="fa fa-bed" aria-hidden="true"></i></h6>
								
							</div>
							<div class="price-selet pric-sclr2">
								<a href="#ab" class="scroll" >Reservar</a>

							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 price-grid lost">
					<div class="price-block agile">
						<div class="price-gd-top pric-clr3">
							<h4>Habitación Doble</h4>
							<h3><span>S/</span>60</h3>
							<h5>1 Noche</h5>
						</div>
						<div class="price-gd-bottom">
							<div class="price-list">
								
								<h6 class="bed three"><i class="fa fa-bed" aria-hidden="true"></i></h6>
							</div>
							<div class="price-selet pric-sclr3">
								<a href="#ab" class="scroll" >Reservar</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 price-grid wthree lost">
					<div class="price-block agile">
						<div class="price-gd-top pric-clr4">
							<h4>Habitación Familiar</h4>
							<h3><span>S/</span>70</h3>
							<h5>1 Noche</h5>
						</div>
						<div class="price-gd-bottom">
							<div class="price-list">
								
								<h6 class="bed four"><i class="fa fa-bed" aria-hidden="true"></i></h6>
							</div>
							<div class="price-selet pric-sclr4">
								<a href="#ab" class="scroll" >Reservar</a>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- testimonials -->
	<div class="guests-agile">
			<h3 class="tittle">Nuestras Recomendaciones</h3>
			<div class="w3_agileits_testimonial_grids">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="w3_agileits_testimonial_grid">
								<i class="fa fa-quote-right" aria-hidden="true"></i>
									<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
										dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<img src="{% static 'images/admin.jpg' %}" alt=" " class="img-responsive" />
									
								</div>
							</li>
							<li>
								<div class="w3_agileits_testimonial_grid">
								<i class="fa fa-quote-right" aria-hidden="true"></i>
									<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
										dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<img src="{% static 'images/admin2.jpg' %}" alt=" " class="img-responsive" />
									
								</div>
							</li>
							<li>
								<div class="w3_agileits_testimonial_grid">
								<i class="fa fa-quote-right" aria-hidden="true"></i>
									<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
										dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<img src="{% static 'images/admin.jpg' %}" alt=" " class="img-responsive" />
									
								</div>
							</li>
						</ul>
					</div>
				</section>
				
				<!-- //flexSlider -->
			</div>
	</div>
<!-- //testimonials -->

 <!-- Footer -->
	<div class="w3l-footer">
		<div class="container">
         <div class="footer-info-agile">
				<div class="col-md-2 footer-info-grid links">
					<h4>Links</h4>
					<ul>
						       <li><a href="/">Inicio</a></li> 
								<li><a href="nosotros">Sobre Nosotros</a></li> 
								<li><a href="galeria">Galeria</a></li> 
								<li><a href="contactos">Contacto</a></li> 
					</ul>
				</div>
				<div class="col-md-3 footer-info-grid address">
					<h4>Dirección</h4>
					<address>
						<ul>
							<li>Perú - Huancavelica - Izcuchaca</li>
							<li>Av. Ferrocarril 245</li>
							<li>Celular : +51 964 919 910</li>
							<li>Email : <a class="mail" href="mailto:hotelsantaeugenia@gmail.com">hotelsantaeugenia@gmail.com</a></li>
						</ul>
					</address>
				</div>
				<div class="col-md-3 footer-grid">
				   <h4>Instagram</h4>
					<div class="footer-grid-instagram">
					<a href="#"><img src="{% static 'images/f1.jpg' %}" alt=" " class="img-responsive"></a>
					</div>
					<div class="footer-grid-instagram">
					<a href="#"><img src="{% static 'images/f2.jpg' %}" alt=" " class="img-responsive"></a>
					</div>
					<div class="footer-grid-instagram">
						<a href="#"><img src="{% static 'images/f3.jpg' %}" alt=" " class="img-responsive"></a>
					</div>
					<div class="footer-grid-instagram">
					<a href="#"><img src="{% static 'images/f4.jpg' %}" alt=" " class="img-responsive"></a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 footer-info-grid">
				<div class="connect-social">
					<h4>Nuestras redes sociales</h4>
					<section class="social">
                        <ul>
							<li><a class="icon fb" href="https://web.facebook.com/hotelsantaeugenia"><i class="fa fa-facebook"></i></a></li>
							<li><a class="icon ig" href="https://www.instagram.com/hotelsantaeugenia"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</section>

				</div>
					

					
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="connect-agileits newsletter">
				<h4>Promociones</h4>
					<p>Brindanos tu correo para así informarte de los nuevos servicios que se implementen y también para enviarte ofertas exclusivas.
					</p>
					<form action="#" method="post" class="newsletter">
						<input class="email" type="email" placeholder="Your email address..." required="">
						<input type="submit" class="submit" value="Suscribete">
					</form>
			</div>
	   </div>
     </div>

		
			<div class="w3agile_footer_copy">
				    <p>© 2021 Hotel Santa Eugenia. Todos los derechos reservados </p>
			</div>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<!-- Dropdown-Menu-JavaScript -->
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
			</script>
		<!-- //Dropdown-Menu-JavaScript -->


<script type="text/javascript" src="{% static 'js/jquery.zoomslider.min.js' %}"></script>
		<!-- search-jQuery -->
				<script src="{% static 'js/main.js' %}"></script>

<!--/script-->
	<script src="{% static 'js/simplePlayer.js' %}"></script>
			<script>
				$("document").ready(function() {
					$("#video").simplePlayer();
				});
			</script>
			<!-- flexSlider -->
					<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
					<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
<!--//script for portfolio-->
				<!-- Calendar -->
				<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
				<script src="{% static 'js/jquery-ui.js' %}"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
<!--end-smooth-scrolling-->
<!--js for bootstrap working-->
	<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
</body>
</html>